services:
  - type: web
    name: moncv-web
    env: python
    region: frankfurt
    plan: free
    buildCommand: "pip install -r requirements.txt && python manage.py collectstatic --noinput"
    startCommand: "gunicorn moncv.moncv.wsgi"
    
    envVars:
      - key: DEBUG
        value: "False"
      
      - key: DJANGO_SETTINGS_MODULE
        value: "moncv.settings_railway"
      
      - key: PYTHON_VERSION
        value: "3.11"

  - type: pserv
    name: moncv-postgres
    env: postgres
    region: frankfurt
    plan: free

databases:
  - name: moncv_db
    databaseName: moncv_db
    user: moncv_user
    region: frankfurt
    plan: free
